@tailwind base;
@tailwind components;
@tailwind utilities;
.ml-18 {
    margin-left: 4.2rem;
}

.h-screen-90 {
    height: 86vh;
}
.m-50 {
    margin: 0.2rem 40%;
    padding: 0.1rem auto;
    text-align: center;
}

@keyframes flip {
    from {
        /* transform: rotateY(0); */
        opacity: 0.4;
    }

    to {
        /* transform: rotateY(180deg); */
        opacity: 1;
    }
}

.animate-flip {
    animation: flip 1s;
    transform-style: preserve-3d;
}

.form_login{
    background-image: url(https://openailabsprodscus.blob.core.windows.net/private/user-cMTwLy6TFbCJZ7vIH0QuKlNb/generations/generation-GeRaswUZMINEf65OgaYQuOtf/image.webp?st=2023-04-17T14%3A45%3A26Z&se=2023-04-17T16%3A43%3A26Z&sp=r&sv=2021-08-06&sr=b&rscd=inline&rsct=image/webp&skoid=15f0b47b-a152-4599-9e98-9cb4a58269f8&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2023-04-17T11%3A06%3A00Z&ske=2023-04-24T11%3A06%3A00Z&sks=b&skv=2021-08-06&sig=VZyPyLDvkoCQoMIZfO2pOdQ/NKA612gIN%2BbcGzWIYGQ%3D);
}