@tailwind base;
@tailwind components;
@tailwind utilities;
.ml-18 {
    margin-left: 4.2rem;
}

.h-screen-90 {
    height: 86vh;
}
.m-50 {
    margin: 0.2rem 40%;
    padding: 0.1rem auto;
    text-align: center;
}

@keyframes flip {
    from {
        /* transform: rotateY(0); */
        opacity: 0.4;
    }

    to {
        /* transform: rotateY(180deg); */
        opacity: 1;
    }
}

.animate-flip {
    animation: flip 1s;
    transform-style: preserve-3d;
}